@page
@model WebApplication1.Pages.AboutModel
@{
}

<title style="text-align:center">
    This is about page
</title><br />&nbsp;&nbsp;


<p>    It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
</p>  