@page
@model WebApplication1.Pages.IntroModel
@{
}


<title style="text-align:center">
    This new Razor Web Page
</title><br />&nbsp;&nbsp;

<body>
   <div class="text-center">
      <h3>Hi I'm Prutvi Sai Korupu</h3>
   </div>&nbsp;
   
   <div class = "container">
      <form oninput="res.value=parseInt(fnum.value)+parseInt(snum.value)" style="padding:12px 20px; margin:8px 0px; display:inline-block">
          <label for="fnum">Enter first Number</label><br />
          <input type="number" id="fnum" name="firstnumber" placeholder="enter a Number" /><br />
          <label for="snum">Enter Second Number</label><br />
          <input type="number" id="snum" name="secondnumber" placeholder="enter a Number" /><br />
          <label for="snum">Result</label>&nbsp; = &nbsp;
          <output name="res" for="fnum snum"></output><br />
          
          <button type="button">Submit</button>
      </form>
   </div>
</body>

<p>    It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
       It is body of About view that renders in BodyRender.
</p>  

